<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Want practical tips for generating more leads?</h2>
            <p>Sign up below to <i><b>"The High-Tech Lead-Generation Tipsheet"</b></i> and receive FREE marketing tips you can implement every month.</p>
          <a class="btn btn-default btn-call-to-action" href="http://eepurl.com/cv9cBP" target="_blank">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/about">About</a></li>
                <li><a href="{{ site.baseurl }}/services">Services</a></li>
                <li><a href="{{ site.baseurl }}/samples">Samples</a></li>
                <li><a href="http://eepurl.com/cv9cBP" target="_blank">Newsletter</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Josef Adlao 2017</p>
      </div>
    </div>
  </div>
</footer>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=10119560;
var sc_invisible=1;
var sc_security="f73cb359";
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="shopify analytics tool"
href="http://statcounter.com/shopify/" target="_blank"><img
class="statcounter" src="http://c.statcounter.com/10119560/0/f73cb359/1/"
alt="shopify analytics tool"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
